@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Lato', sans-sarif;
  background-color:#eee;
}
#page-wrapper{
  position:relative;
  width: 100%;
}
header{
  position:fixed;
  top:0;
  min-height:75px;
  display:flex;
  align-items:center;
  padding:0 20px;
  background-color: #eee;
  width: 100%;
}
.logo{
  width:60vw;
}
#header-img{
  display:flex;
  width:300px;
  height:100%;
  margin-left:20px;
}
nav>ul{
  width:35vw;
  list-style:none;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}
a{
  text-decoration:none;
  color:black;
}
@media (max-width:600px){
  header{
    flex-wrap:wrap;
    width: 100%;
  }
}
@media (max-width:650px){
  .logo{
    width:100%;
  }
  #header-img{
    margin:15px auto;
  }
  nav{
    margin-top: -10px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  nav>ul{
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
  }
  nav>ul>li{
    padding-top:5px;
  }
}
/* ------------------------------------------------------------------------------------------------------------- */
#email-address{
  height:200px;
  padding-top:100px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center; 
  text-align:center;
}

#form{
  display:flex;
  flex-direction:column;
  padding-top:20px;
}
#email{
  width:275px;
  padding:5px;
}
#submit{
  width:150px;
  height:30px;
  margin:15px auto;
  background-color: #f1c40f;
  border:0;
  cursor:pointer;
}
input[type=submit]{
  font-size:16px;
  font-weight:900;
  display:flex;
  justify-content:center;
  align-items:center;
}
#submit:hover{
  background-color: orange;
  transition: background-color 1s;
}
@media(max-width:650px){
  #email-address{
    width:100%;
    margin-top:70px;
  }
}
/* -------------------------------------------------------------------------------------------------------------- */
.details{
  max-width:1000px;
  width: 100%;
  margin: 80px auto;
}
.features{
  display:flex;
}
.icon{
  display:flex;
  width:20vw;
  justify-content:center;
  height:125px;
  align-items:center;
}
.icon>img{
  width:58px;
  height:55px;
}
.description{
  width:80vw;
  height:125px;
  display:flex;
  flex-direction:column;
  justify-content:center;
/*   align-items:center; */
}

@media(max-width:650px){
  .details{
    width:100%;
    margin-top:60px;
  }
}
@media (max-width: 550px) {
   .icon{
    display: none;
  }

  .description{
   display:flex;
   flex-direction:column;
   justify-content:center;
    align-items:center;
    text-align:center;
    height:150px;
    width:100%;
    margin:0 auto;
    padding-bottom:20px;
  }
}
/* -------------------------------------------------------------------------------------------------------------- */
#video{
  display:flex;
  justify-content:center;
  margin-top:-30px;
}
/* -------------------------------------------------------------------------------------------------------------- */
#shop{
  width:100%;
  margin-top:60px;
  margin-bottom:30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.trombone {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 315px;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}
ol{
  list-style:none;
}
.name{
  font-weight:bold;
  width:100%;
  padding:15px 0;
  background-color:#ddd;
}
.trombone>h2{
  margin-top:15px;
  margin-bottom:10px;
}
.trombone>ol{
  margin-top:5px;
}
.trombone>ol>li{
  padding:5px;
}
.button{
  padding:10px 20px;
  margin-top: 30px;
  margin-bottom:15px;
  border: 0;
  border-radius:2px;
  background-color: #f1c40f;
  font-weight: 400;
  font-size:16px;
  cursor:pointer;
}
button:hover{
  background-color: orange;
  transition: background-color 1s;
}
@media(max-width:1000px){
  #shop{
    padding:0;
  }
  .trombone{
    margin:5px;
  }
}
@media (max-width: 800px) {
  #shop {
    flex-direction: column;
  }
  .trombone {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

/* -------------------------------------------------------------------------------------------------------------- */
.footer{
  width:100%;
}
footer {
  background-color: #ddd;
  padding:20px; 
  width:100%;
  max-width:1000px;
  margin:0 auto;
}
footer > ul {
  list-style:none;
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  color: #444;
}
@media (max-width:1010px){
  .footer{
    width:100%;
    margin:0;
  }
}



